.root {
  overflow: hidden;
  background-color: white;
}

.header {
  height: 64px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  .logo {
    width: 50px;
  }
}

.body {
  display: flex;
  height: calc(100vh - 64px);
  .sider {
    width: 40%;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
  }

  .content {
    background-color: white;
  }
}
